go 1.19

replace github.com/guiwoopark/socket v0.0.1 => ./socket

use (
	./basic
	./advance
	./designpattern
	./section2
	./leetcode
	./boj
	./nats
	./concurrency
	./socket
	./web_pratice
	./chat_server
	./chat_server_gorilla
	./oauth
	./echo_test
	./data_structure
	./echo_proxy
)
